# üõ†Ô∏è Import Libraries

**Purpose:**  
We import essential Python libraries for data analysis:

- **`pandas` (`pd`)**: Handles tabular data and provides powerful data manipulation tools.
- **`numpy` (`np`)**: Provides numerical operations and functions for arrays.

In [27]:
import pandas as pd
import numpy as np

# üìÇ Load Raw Data

**Purpose:**  
- Load the raw CSV dataset into a DataFrame.  
- Inspect data shape and first few rows to understand its structure.

**Key Points:**  
- `encoding='ISO-8859-1'`: Handles special characters.  
- `low_memory=False`: Avoids dtype warnings for large files.  
- `.shape`: Returns (rows, columns).  
- `.head()`: Shows first 5 rows for a quick look.

In [14]:
raw_path = './data/superstore_raw.csv'   # adjust path if needed
df = pd.read_csv(raw_path, encoding='ISO-8859-1', low_memory=False)

# Overview of Dataset

In [15]:
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

# ‚úèÔ∏è Standardize Column Names

**Purpose:**  
- Make column names consistent for easier reference in code.

**Steps:**  
- `.strip()`: Remove leading/trailing spaces.  
- `.lower()`: Convert to lowercase.  
- `.replace(' ', '_')`: Replace spaces with underscores.

**Syntax Tip:**  
```python
[c.strip().lower().replace(' ', '_') for c in df.columns]
This is a list comprehension that processes all column names in one line.

In [16]:
df.columns = [c.strip().lower().replace(' ', '_') for c in df.columns]

# üìÖ Convert Datetime Columns

**Purpose:**  
- Convert `order_date` and `ship_date` from strings to datetime objects.

**Steps:**  
- `pd.to_datetime()`: Converts string to datetime.  
- `errors='coerce'`: Invalid dates become `NaT` (Not a Time).  
- `if c in df.columns`: Avoids errors if column is missing.

**Why:**  
Datetime objects allow calculations like shipping duration and grouping by year/month.

In [18]:
for c in ['order_date', 'ship_date']:
    if c in df.columns:
        df[c] = pd.to_datetime(df[c], errors='coerce')

# üî¢ Convert Numeric Columns

**Purpose:**  
- Ensure `sales`, `profit`, `discount`, `quantity` are numeric for analysis.

**Steps:**  
- `pd.to_numeric(..., errors='coerce')`: Converts non-numeric to `NaN`.  
- Essential for sum, mean, and other calculations.

**Why:**  
Numeric conversion avoids errors in later calculations or visualizations.

In [19]:
for col in ['sales', 'profit', 'discount', 'quantity']:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# üßπ Handle Missing Values

**Purpose:**  
- Remove rows with missing `order_id` or `sales` as they are critical for analysis.

**Steps:**  
- `dropna(subset=['order_id', 'sales'])`: Removes rows with missing values in key columns.

**Why:**  
Missing `order_id` or `sales` makes rows unusable, so it‚Äôs safer to drop them.

In [20]:
df = df.dropna(subset=['order_id', 'sales'])

In [21]:
if 'order_date' in df.columns and 'ship_date' in df.columns:
    df['shipping_days'] = (df['ship_date'] - df['order_date']).dt.days

# ‚öôÔ∏è Feature Engineering

**Purpose:**  
- Create new columns that help in analysis: `shipping_days`, `order_year`, `order_month`.

**Steps:**  
1. **Shipping Days:** `(ship_date - order_date).dt.days` ‚Üí duration in days.  
2. **Order Year:** `.dt.year` ‚Üí extract year from order date.  
3. **Order Month:** `.dt.to_period('M').astype(str)` ‚Üí extract `YYYY-MM`.

**Why:**  
These features enable time-based insights and trend analysis.

# 7.Extracting order_year and order_month

In [22]:
if 'order_date' in df.columns:
    df['order_year'] = df['order_date'].dt.year
    df['order_month'] = df['order_date'].dt.to_period('M').astype(str)

In [23]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,category,sub-category,product_name,sales,quantity,discount,profit,shipping_days,order_year,order_month
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,3,2016,2016-11
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,3,2016,2016-11
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4,2016,2016-06
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7,2015,2015-10
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,7,2015,2015-10

# üö´ Remove Obvious Outliers

In [24]:
df = df[df['sales'] > 0]

# üíæ Save Cleaned Data

In [26]:
clean_path = './data/superstore_cleaned.csv'
df.to_csv(clean_path, index=False)
print("Saved cleaned data to", clean_path)

Saved cleaned data to ./data/superstore_cleaned.csv

In [28]:
demo=pd.read_csv(clean_path,encoding='ISO-8859-1', low_memory=False)
demo.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,category,sub-category,product_name,sales,quantity,discount,profit,shipping_days,order_year,order_month
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,3,2016,2016-11
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,3,2016,2016-11
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4,2016,2016-06
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7,2015,2015-10
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,7,2015,2015-10